.bar {
  background-color:#236B8E;
  color:white;
}

.title {
  color:white;
}


html{
  font-family: 'Raleway', sans-serif;
}

body{
  font-family: 'Raleway', sans-serif;
}

h1{
  font-family: 'Raleway', sans-serif;
}

h2{
  font-family: 'Raleway', sans-serif;
}

h3{
  font-family: 'Raleway', sans-serif;
}

#postTitle{
  text-transform: uppercase;
}

/*
.item-icon-right{
  border-radius: 6px;
}

.item-icon{
  border-radius: 6px;
}
*/

.button.button-dark{
  border-radius: 6px;
}


#commentBox{
  width: 40%;
  height: 3rem;
}

#submitC{
  width: 20%;
  background-color: #236B8E;
  height: 3.5rem;
}

#submitText{
  color: white;
}

#navBarButton,
#backButton {
  color:white;
}

#votes {
  position: absolute;
  right:0.1rem;
  bottom:1.5rem;
  width:4rem;
  text-align: center;
}

#feed,
#post,
#account {
  background-color:	#E8E8E8;
}

#feedItem {
  border-bottom: none;
  padding: .25rem;
}

.f-move {
    position: relative;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    opacity: 0;
}

.f-move.f-move-active {
    opacity: 1;
}

#feedItemImage {
  max-height: 60%;
}

#cameraButton {
  margin-top:0rem;
  padding-left:0.75rem;
  padding-right:0.75rem;
}

#votingBar,
#votingButton {
  border-radius:0;
}
