.bar {
  background-color:#236B8E;
  color:white;
}

.title {
  color:white;
}

#navBarButton,
#backButton {
  color:white;
}

#feed {
  background-color:#F8F8F8;
}

#feedItem {
  border-bottom: none;
  padding:0;
}

#feedItemImage {
  max-height: 30rem;
}

#comments {
  background-color:#F8F8F8;
}
