<ion-view view-title="Comments">
  <ion-content>
    <ion-list>
      <!--Display title of the post here-->
      <div>
        <div class="item item-icon-right" id="feedItemTitle">
          <h2><b ng-bind = "entryData.title"></b></h2>
          <p ng-if = "entryData.dh_id == 1">
            @Arnold
          </p>
          <p ng-if = "entryData.dh_id == 2">
            @Umph
          </p>
          <p ng-repeat="s in stations | filter: {value : entryData.station_id} : true"> {{s.text}} </p>
          <div class="icon">
            <div class="col">
              <!--
              <i class="button button-icon icon ion-chevron-up" ng-click="upVote()" ng-disabled="upIsDisabled"></i>
            -->
              <strong><h1 class="text-right" id="votes">{{votes}}</h1></strong>
            <!--
              <i class="button button-icon icon ion-chevron-down" ng-click = "downVote()" ng-disabled="downIsDisabled"></i>
            -->
            </div>
          </div>
        </div>
        <!--Display Image of Post here-->
        <div class="item item-image" id="feedItemImage">
          <img ng-src={{entryData.image}}>
        </div>
        <div class="button-bar" id="votingBar">
          <a class="button button-icon-left button-assertive" id="votingButton" ng-click="downVote()">
            <i class="icon ion-sad-outline"> Gross!</i>
          </a>
          <a class="button button-icon-left button-balanced" id="votingButton" ng-click="upVote()">
            <i class="icon ion-happy-outline"> Yum!</i>
          </a>
        </div>
        <!--Display comments of post here-->
        <ion-item class="item item-text-wrap" ng-repeat="c in comments">
          <div class="row text-left">
              {{c.comment}}
          </div>
      </ion-item>


      <form class="item item-input-inset" id = "newCommentForm" ng-submit="submitComment()" ng-controller="DetailsCtrl">
          <label class="item-input-wrapper">
            <input type="text" ng-model = "newComment" placeholder="Post a comment" id="commentBox">
          </label>
          <button class="button button-medium" ng-submit="submitComment()" ng-controller="DetailsCtrl" id = "submitC">
            <p id="submitText">Post</p>
          </button>
      </form>
      <!--end comment section-->
    </ion-list>
  </ion-content>
</ion-view>
