<ion-view view-title="YUM">
  <ion-content id="feed">
    <div class="list">

      <div id="feedItem">
        <div class="item item-icon text-center" ng-click="newPost()" id="newPostItem">
          <i class="icon ion-camera pull-xs-center"></i>
          New Post
        </div>
      </div>


      <div ng-repeat="f in feedData | orderBy: -votes" id="feedItem">
        <div class="item item-icon-right" id="feedItemTitle">
          <h2 id = "postTitle"><b>{{f.title}}</b></h2>
          <p ng-if = "f.dh_id == 1">
            @Arnold
          </p>
          <p ng-if = "f.dh_id == 2">
            @Umph
          </p>
          <p ng-repeat="s in stations | filter: {value : f.station_id} : true"> {{s.text}} </p>
          <div class="icon">
            <div class="col">
            <!--
              <i class="button button-icon icon ion-chevron-up" ng-click="upVote(f.entry_id, f.votes)" ng-disabled="upIsDisabled" ng-model="f.entry_id"></i>
            -->
              <strong><h1 class="text-right" id="votes">{{f.votes}}</h1></strong>
            <!--
              <i class="button button-icon icon ion-chevron-down" ng-click = "downVote(f.entry_id, f.votes)" ng-disabled="downIsDisabled" ng-model="f.entry_id"></i>
            -->
            </div>
          </div>
        </div>
        <a class="item item-image" href="#/app/feed/{{f.entry_id}}" id="feedItemImage">
          <img ng-src={{f.image}}>
        </a>
        <div class="button-bar" id="votingBar">
          <a class="button button-icon-left button-assertive" id="votingButton" ng-click="downVote(f.entry_id, f.votes)">
            <i class="icon ion-sad-outline"> Gross!</i>
          </a>
          <a class="button button-icon-left button-balanced" id="votingButton" ng-click="upVote(f.entry_id, f.votes)">
            <i class="icon ion-happy-outline"> Yum!</i>
          </a>
        </div>
      </div>
    </div>
  </ion-content>
  <!--
  <button>
    <ion-footer-bar class="bar bar-footer bar-dark" ng-click="newPost()">
      <h1 class="title"> <i class="icon ion-camera pull-xs-center"></i> Create New</h1>
    </ion-footer-bar>
  </button>
-->
</ion-view>
