<ion-view view-title="F&#x21D5;&#x21D5;D">
  <ion-content id="feed">
    <div class="list">

      <div id="feedItem">
        <div class="item item-icon text-center" ng-click="newPost()" id="newPostItem">
          <i class="icon ion-camera pull-xs-center"></i>
          <b>New Post</b>
        </div>
      </div>

      <div ng-repeat="f in feedData | orderBy: -votes" id="feedItem">
        <div class="item item-icon-right" id="feedItemTitle">
          <h2><b>{{f.title}}</b></h2>
          <p>@ Umph - The Grill</p>
          <div class="icon">
            <div class="col">
              <i class="button button-icon icon ion-chevron-up" ng-click="upVote(f.entry_id, f.votes)" ng-disabled="upIsDisabled" ng-model="f.entry_id"></i>
              <h2 class="text-right" id="votes">{{f.votes}}</h2>
              <i class="button button-icon icon ion-chevron-down" ng-click = "downVote(f.entry_id, f.votes)" ng-disabled="downIsDisabled" ng-model="f.entry_id"></i>
            </div>
          </div>
        </div>
        <a class="item item-image" href="#/app/feed/{{f.entry_id}}" id="feedItemImage">
          <img ng-src={{f.image}}>
        </a>
      <!--
        <a class="item item-icon-left" href="#/app/feed/{{f.entry_id}}" id="feedItemDetails">
          <i class="icon ion-drag"></i>
          View More

          <span class="badge badge-balanced">Top Ranked!</span>

        </a>
      -->
      </div>
    </div>
  </ion-content>
  <!--
  <button>
    <ion-footer-bar class="bar bar-footer bar-dark" ng-click="newPost()">
      <h1 class="title"> <i class="icon ion-camera pull-xs-center"></i> Create New</h1>
    </ion-footer-bar>
  </button>
-->
</ion-view>
