<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar" id="headerNavBar">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-compose"
              menu-toggle="right" ng-click="newPost()" id="navBarButton">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-settings"
              menu-toggle="left" ng-click="openModal()" id="navBarButton">
        </button>
      </ion-nav-buttons>
      <ion-nav-back-button id="backButton">
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <!--
  <ion-side-menu side="right">
    <ion-header-bar class="bar-balanced">
      <h1 class="title">New Post</h1>
    </ion-header-bar>
    <ion-content id="menu_left">
      <ion-list>
        <ion-item class="item" menu-close href="#/app/feed">
          Create New Post here!
        </ion-item>
      </ion-list>
      <h1 class="title">Create New</h1>
    </ion-header-bar>
    <ion-content id="menu_right">
    </ion-content>
  </ion-side-menu>

-->

<!--
  <ion-side-menu side="left">
    <ion-header-bar class="bar">
      <h1 class="title">Results</h1>
    </ion-header-bar>
-->


<!--
    <ion-content id="menu_right">
      <ul class="list list-dark">
        <li class="item item-toggle">
           Umph
           <label class="toggle toggle-balanced">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Arnold
           <label class="toggle toggle-balanced">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Vegetarian
           <label class="toggle toggle-balanced">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Low-Calorie
           <label class="toggle toggle-balanced">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
        <li class="item item-toggle">
           Vegan
           <label class="toggle toggle-balanced">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
      </ul>
-->

<!--

    <ion-content id="menu_left">
      <div class="list">
        <ion-checkbox class="item item-dark" id="filterItem" ng-repeat="f in filters"
            ng-model="f.checked"
            ng-checked="f.checked">
          {{ f.text }}
        </ion-checkbox>
      </div>
    </ion-content>
-->

  </ion-side-menu>
</ion-side-menus>

<script id="contact-modal.html" type="text/ng-template" class="filterModal">
  <div class="modal">
    <ion-header-bar>
      <button class="button button-icon button-clear"
        ng-click="closeModal()" id="navBarButton">close</button>
      <h1 class="title">Filter Results</h1>
    </ion-header-bar>

    <ion-content>
      <div class="list">
        <div class="item item-stable item-icon-right"  ng-click="toggleHalls()">
          <button class="icon button button-icon button-clear ion-plus">
            </button>
          <h2>Dining Hall</h2>
        </div>
        <ion-checkbox class="item" id="filterItem"
            ng-repeat="d in diningHalls"
            ng-model="d.checked"
            ng-checked="d.checked"
            ng-show="displayHalls">
          {{ d.text }}
        </ion-checkbox>

        <div class="item item-stable item-icon-right"   ng-click="toggleStations()">
          <button class="icon button button-icon button-clear ion-plus">
            </button>
          <h2>Stations</h2>
        </div>
        <ion-checkbox class="item" id="filterItem"
            ng-repeat="s in stations"
            ng-model="s.checked"
            ng-checked="s.checked"
            ng-show="displayStations">
          {{ s.text }}
        </ion-checkbox>

        <div class="item item-stable item-icon-right"  ng-click="toggleTags()">
          <button class="icon button button-icon button-clear ion-plus">
            </button>
          <h2>Tags</h2>
        </div>
        <ion-checkbox class="item" id="filterItem" ng-repeat="f in filters"
            ng-model="f.checked"
            ng-checked="f.checked"
            ng-show="displayTags">
          {{ f.text }}
        </ion-checkbox>
      </div>
    </ion-content>

    <button>
      <ion-footer-bar class="bar bar-footer bar-dark" ng-click="closeModal()">
        <h3 class="title">Apply</h3>
      </ion-footer-bar>
    </button>
  </div>
</script>
