<ion-view view-title="Create New">
  <ion-content>
    <div class="list list-inset">

      <label class="item item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Give the plate a name">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="How'd you like the food?">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          Dining Hall
        </div>
        <select>
          <option>Umphry Lee</option>
          <option>Arnold</option>
          <option>Mac's Place</option>
        </select>
      </label>

      <div class="item item-icon-right"  ng-click="toggleTags()">
        <button class="icon button button-icon button-clear ion-plus">
          </button>
        <h2>Tags</h2>
      </div>
      <ion-checkbox class="item" id="filterItem" ng-repeat="t in tags"
          ng-model="t.checked"
          ng-checked="t.checked"
          ng-show="displayTags">
        {{ t.text }}
      </ion-checkbox>

      <button class="button button-full button-dark" href="#" ng-click="takeImage()">
          <i class="icon ion-ios-camera"> (required)</i>
      </button>
    </div>
  </ion-content>
</ion-view>
