<ion-view view-title="New">
  <ion-content>
    <ion-list>
      <a class="item text-center" href="#" ng-click="takeImage()">
        <button class="button button-icon icon ion-ios-camera"></button>
      </a>
      <label class="item item-light item-input item-stacked-label">
        <span class="input-label">Title</span>
        <input type="text" placeholder="Give your post a name">
      </label>
      <label class="item item-light item-input item-stacked-label">
        <span class="input-label">Description</span>
        <input type="text" placeholder="(First Comment)">
      </label>
    </ion-list>
  </ion-content>
</ion-view>
