<ion-view view-title="Search">
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        Beer Info:
      </div>
      <label class="item item-input item-floating-label">
        <span class="input-label">Name:</span>
        <input type="text" placeholder="Name" ng-model="form.name">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          ABV
        </div>
        <select ng-model="form.abv">
          <option value="-1">Less than 1%</option>
          <option value="1,5">1 - 5%</option>
          <option value="5,10">5 - 10%</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          IBU
        </div>
        <select ng-model="form.ibu">
          <option value="-30">Less than 30</option>
          <option value="30,50">30 - 50</option>
          <option value="+50">Greater than 50</option>
        </select>
      </label>

      <div class="item item-divider">
        Filter:
      </div>
      <div class="item item-toggle">
        Organic
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="form.organic" ng-true-value="'Y'" ng-false-value="'N'">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </div>
      <div class="item item-toggle">
        Require Labels
        <label class="toggle toggle-balanced">
           <input type="checkbox" ng-model="form.labels" ng-true-value="'Y'" ng-false-value="'N'">
           <div class="track">
             <div class="handle"></div>
           </div>
        </label>
      </div>
      <label class="item item-input item-select">
        <div class="input-label">
          Sort By
        </div>
        <select ng-model="form.order">
          <option value="name">Name</option>
          <option value="abv">ABV</option>
          <option value="ibu">IBU</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          In Order
        </div>
        <select ng-model="form.sort">
          <option value="ASC">Low to High (alphabetic)</option>
          <option value="DESC">High to Low</option>
        </select>
      </label>
    </div>
    <div class="text-center">
      <div class="spinner">
        <ion-spinner icon="ios" ng-show="loading"></ion-spinner>
      </div>
    </div>
  </ion-content>
	<div class="bar bar-footer bar-balanced" ng-click="search()">
		<div class="title">Search</div>
	</div>

</ion-view>
